

/*global style */

body{
	font-family: 'PT Sans', sans-serif;
	line-height: 1.5;
	/*background: #CC2B41;*/	
	background: rgb(242,242,242);
}

a{
	text-decoration: none;
	text-transform: uppercase;
	padding: 0;
}

h1,h2,h3,h4, p{
	margin: 0;
}

.container{
	width: 85%;
	margin: 0 auto;
}


/* top main nav bar */

header{
	background: #1e1e1e;

}

header a{
	color:blue;
	padding-bottom: 3px;
}

header a:hover{
	color: purple;
	
}

.top-container{
	position: fixed;
	width: 100%;
	top: 0;
	left: 8%;
	z-index: 20;

}


.toggle{
	text-align: right;
	display: none;
	cursor: pointer;
	color:#fff;
}

/*after scroll width change to 80%,width left:10%, original width 70%, left:8%; */
/* #main-nav{
	justify-content: space-around;
	width:100%;
	background:#fff;
}
	.top-container{
		left: -2%;


	}

*/
#main-nav{
	width: 70%;  
	display: flex;
	justify-content: space-between;
	font-size: .9em;
	align-items: center;
	padding: 1.5em;
	padding-bottom: 1em;
	/*padding-bottom: 1.5em;
	padding-top: .5em;*/
	
}

#main-nav a{
	color: #fff;
}

#main-nav a:hover{
	border-bottom: 1px solid red;
}

.get{
	color: red;
}



.home a{
	text-transform: none;
	font-size: 1.5em;
}




/*start with intro content with main page */
.section-container{
	position: relative;
	width: 100%;
	height: 100vh;

}

#main-intro{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 100%;
	
}

.intro-content{
	position: relative;
}

.intro-right,.intro-left{
	height: 100%;
	width: 50%;
	
}

.team-img{
	width: 100%;
	height: 65%;
	position: absolute;
	top:20%;
	left: -15%;
}

.slogan, .showreel-icon{
	position: absolute;
	color: #fff;
}

.slogan{
	line-height: 1;
	right: 7%;
	top: 28%; /*from 20% top to 15%*/
	font-size: 1.4em;
}

.showreel-icon{
	right: 10%;
	bottom: 30%;
	text-transform: none;
	font-size: 3em;
	display: flex;
}


.showreel-icon span{
	font-size: .5em;
	align-self: center;
	margin-left: .15em;
}


.quotes{
	text-align: center;
}

.logo{
	width: 4em;
	display: inline-block;
	margin-left: 75%;
	margin-top: 10px;
}

.about-us article{
	width: 80%;
	margin:auto;
	margin-top: 15%;
	position: relative;
	color:#fff;
}

.about-us p{
	font-size: .8em;
	font-style: italic;
	margin-top: 10%;
	text-align: center;
}

canvas{
	position: absolute;
	z-index: -3;
	width: 100%;
	height: 100%;
}

.qumu{
	color: rgb(215,209,152);
}

/*.animate{
	transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: ease-out;
}

.box:scroll{
	transform: translateX(100px);
	transform-origin: top left;

}

*/


.service-intro{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	/*padding-top: .5em;*/
	padding-top: 2em;
	padding-bottom: 2em;
}

.service-intro .to-each-section{
	/*padding-top: .5em;*/
}

.service-intro a{
	text-transform: none;
	color: rgb(239,65,53);
	font-family: 'Work Sans', sans-serif;
}

.service-intro a:hover{
	font-style: italic;
}


.service-intro span{
	font-family: 'Work Sans', sans-serif;
	font-weight: normal;
}


.service-quotes{
	width: 30%;
	font-family: 'Work Sans', sans-serif;
}

.service-quotes span{
	margin-left: 1em;
}
.service-intro h1{
	text-transform: uppercase;
}

.service-title{
	text-align: left;
	color: purple;
}



#service-cata{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
}
/*between .service-img-holder and .service-details*/

.each-service{
	display: flex;
	position: relative;
	
}

.each-service:hover{
	background: #fff;
}

.service-img-holder{
	position: relative;
}
.service-img-holder img{
	width: 100%;
	height: 100%;
}

.overlay{
	position: relative;
	transition: all 1s linear;
	box-sizing: border-box;
}

.overlay:hover{
	transform: scale(1.1);
   	z-index:8;
}

.overlay:after{
	position: absolute;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(239,65,53,0.5);;
	z-index: 1;
	display: none;
}

.overlay:hover:after{
	display: block;
}



.service-video-icon{
	position: absolute;
	font-size: 4em;
	top: 40%;
	left: 45%;
	color: #fff;
	z-index: 2;
	display: none;
}



.service-img-holder{
	width: 40%;
	padding:1em;
	padding-left: 10%;	
}

.service-details{
	width: 40%;
	padding:1em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;	

}

.toggle-article{
	display: none;
	font-size: .9em;
}



.service-details a{
	text-transform: none;
	font-size: 1.2em;
	color: red;
}

.service-details a:hover{
	font-style: italic;
}

.service-details h3{
	font-size: 1em;
}

/*vlog section*/

#all-videos{
	width: 80%;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
}

.video-holder{
	width: 30%;
	position: relative;
}

.video-holder img{
	width: 100%;
}

.video-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(35, 36, 38,0.9);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}


.video-holder:hover .video-overlay {
  height: 100%;
}


.overlay-text {
  white-space: nowrap; 
  color: #fff;
  font-size: .8em;
  position: absolute;
  overflow: hidden;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.overlay-text span{
	font-family: Times;
	font-weight:normal;
	/*font-size: .em;*/
	color: rgb(239,65,53);;
}







/*styling the footer */

footer{
	font-size: .8em;
	color: rgb(118,118,123);
	background: rgb(31,30,32);
}

footer a{
	text-transform: none;
	color: rgb(118,118,123);
}


footer a:hover{
	text-decoration: underline;
}

#work-together{
	background: rgb(239,65,53);
	padding:1em;
	text-decoration: none;
}

#work-together:hover, #work-together a:hover{
	background:  rgb(31,30,32);
	text-decoration: none;
}

#work-together a{
	color: #fff;
	text-align: center;
	font-size: 1.2em;
}


.footer-container{
	padding-top: 1em;
	display: flex;
	justify-content: space-between;
	padding-bottom: 3em;
	border-bottom: 1px solid rgb(118,118,123);
}

#location{
	display: flex;
	flex-direction: column;
}

#location img{
	width: 50%;
}

.address{
	padding-top: 1em;
}

.footer-title{
	color: rgb(215,209,152);
	font-size: 1.5em;
	margin-bottom: .5em;
}

.social-icon{
	display: flex;
	justify-content: space-between;
}

#social i{
	font-size: 1.5em;
}

.test{
	margin-top: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
}

.test:hover{
	color: rgb(215,209,152);
	text-decoration: none;
}



/*hiding about section*/ 

#hiding{
	background: #1e1e1e;
	color: #fff;
	text-align: center;
	font-size: .8em;
	padding-bottom: 2em;
	display: none;
}

#hiding p{
	font-style: italic;
	margin-top: .5em;
}


/* media query */

@media screen and (max-width: 845px){
	/* kill the side bar on the intro section */

	.toggle{
		display: block;
	}

	#main-nav{
		display: none;
	}


	#main-nav li{
		margin-bottom: .5em;
	}

	.active{
		display: block;
	}

	#showreel{
		min-width: 100%;
	}

	.details-service {
		width: 100%;
		margin-bottom: 2em;
	}

	.service-video-holder a{
		position: absolute;
		top: 30%;
		left: 45%;
		font-size: 70px;
		color: #fff;
		display: block;
	}


	.intro-left{
		width: 100%;
	}

	.intro-right{
		display: none;
	}

	#hiding{
		display: block;
	}

	/*the service intro section responsive styling*/

	.service-quotes, .service-intro span{
		display: none;
	}

	.service-intro a{
		display: inline-block;
		margin:auto;
		text-align: center;
		font-size: 1.2em;
	}

	.each-service{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.service-img-holder,.service-details{
		width: 100%;
	}



	.video-holder{
		width: 100%;
	}
}






