

/*global style */

body{
	font-family: 'PT Sans', sans-serif;
	line-height: 1.5;
	/*background: #CC2B41;*/	
}

a{
	text-decoration: none;
	text-transform: uppercase;
}

h1{
	margin: 0;
}
/* top main nav bar */

.top-nav{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	font-size: .8em;
	padding-bottom: 20px;

	/*leaving the responsive design here......*/
}

.top-nav li{
	padding: 10px;
}

.top-nav a{
	color: #000;
	display: block;
}

.top-nav a:hover{
	color: #CC2B41;
}

.search{
	flex-grow: 0.4;
}



/*start with intro content with main page */

#intro{
	width: 100%;
	height: calc(100vh - 59px);
	display: flex;
	background: #fff;
}

#showreel{
	height: 100%;
	width: 65%;
	background: #000;
	position: relative;
}


#right{
	display: flex;
	flex-direction: column;
	flex-basis: 45%;
}

#slides,canvas{
	width: 100%;
	height: 50%;
}

.banner{
	width: 100%;
	height: 70%;
	background-position-y: 15%;
	background-position-x:35%;
	background-repeat: no-repeat;
	position: absolute;
	top: 15%;
	left: -20%;
}

.slogan, .showreel-video, .event-title{
	position: absolute;
	z-index: 1;
	/*right: 10%;*/
	color: #fff;

}

.slogan{
	line-height: 1;
	right: 5%;
	top: 20%;
}

.showreel-video{
	right: 10%;
	bottom: 20%;
	font-size: 20px;


}

.showreel-video i:hover{
   position: relative; 
   top: -3px; 
   left: -3px; 
   text-shadow: 1px 1px teal, 
                2px 2px teal, 
                3px 3px teal, 
                4px 4px teal, 
                5px 5px teal, 
                6px 6px teal;
}


.event-title{
	position: absolute;
	left: 2%;
	top: 5%;
	text-transform: uppercase;
	font-size: .8em;
}



/*.animate{
	transition-property: transform;
	transition-duration: 1s;
	transition-timing-function: ease-out;
}

.box:scroll{
	transform: translateX(100px);
	transform-origin: top left;

}

*/
.showreel-video .fa{
	font-size: 1em;
	color: #fff;
}

.showreel-video span{
	padding-left: 10px;
}


/*right side styling on the intro section */
#slides{
	position: relative;
	border-top: .5px solid grey;
	box-sizing: border-box;
}
.slide-img{
	width: 100%;
	height: 100%;
	position: absolute;
}

#slides:hover{
	border: 3px dashed rgb(118,118,123);
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(49,64,204,0.5);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  cursor: pointer;
}

#slides:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


/* media query */

@media screen and (max-width: 700px){
	/* kill the side bar on the intro section */
	#showreel{
		min-width: 100%;
	}
}






